body {
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a7/Atlantic_near_Faroe_Islands.jpg');*/
    background-image: url("https://cdn.discordapp.com/attachments/1008571157592674431/1285322623856939175/analytics_club_psychedelic_mushrooms_hyperrealistic_awe_inspiri_573ac023-035d-4843-8a4e-b7250850fe5b.png?ex=66e9d979&is=66e887f9&hm=b63077832af09c8d6c133f193fa6eb996779423998d175a59b8cb264b18456f6&");
    margin: 5%;
    text-align: center;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}
h1 {
    color: rgb(0, 255, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1000%;
    text-align:center;
    border: 20px solid navy;
    background-color: powderblue;
    background-size: 100% 100%;
}
p {
    font-family: courier;
    color: aliceblue;
    margin: auto;
}
a:link, a:hover, a:visited, a:active   {
    background-color:#1fa610;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:visited {
    color: rgb(4, 4, 4);
    background-color:blueviolet;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}